<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuli.cloud.mapper.CompanyMessageMapper">
    <resultMap id="baseResultMap" type="com.fuli.cloud.vo.CompanyMessageVO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="real_name" property="realName" jdbcType="VARCHAR" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="SMALLINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="deal_time" property="dealTime" jdbcType="TIMESTAMP" />
        <!--<result column="deal_user" property="dealUser" jdbcType="INTEGER" />-->
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="getCompanyMsgInfo" parameterType="com.fuli.cloud.dto.CompanyMessageDto" resultMap="baseResultMap">
      select
        id,
        company_id,
        company_name,
        real_name,
        telephone,
        email,
        content,
        state,
        remark,
        deal_time,
        create_time
      from
        company_message
      <where>
          <if test="realName != null and realName != ''">
              real_name like concat('%',#{realName},'%')
          </if>
          <if test="companyId != null">
              and company_id = #{companyId}
          </if>
          <if test="companyName != null and companyName != ''">
              and company_name like concat('%', #{companyName},'%')
          </if>
          <if test="telephone != null and telephone != ''">
          and telephone = #{telephone}
          </if>
          <if test="state != null">
              and state = #{state}
          </if>
          <if test="dealState != null and dealState == 0">
              and state = 0
          </if>
          <if test="dealState != null and dealState == 1">
              and state in(1,2)
          </if>
          <if test="startTime != null and startTime!=''">
              <![CDATA[  AND create_time >=  #{startTime}  ]]>
          </if>

          <if test="endTime != null and endTime !=''">
              <![CDATA[  AND create_time <= #{endTime}  ]]>
          </if>
      </where>
        order by create_time desc
    </select>

    <select id="getCompanyMsgDetail" resultType="com.fuli.cloud.vo.CompanyMessageVO">
        select
            id,
            company_id,
            company_name,
            real_name,
            telephone,
            email,
            content,
            state,
            remark,
            deal_time,
            create_time
        from
            company_message
        where id = #{id}
    </select>


    <select id="getNewAddMsgCount" resultType="java.lang.Integer">
      select count(*) addCount
      from company_message
      where
       create_time >= #{logoutTime}
    </select>

</mapper>