<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuli.cloud.mapper.SystemAnnouncementMapper">

    <select id="getSystemAnnouncementVOList" parameterType="com.fuli.cloud.dto.QueryAnnouncementUserListDTO"
            resultType="com.fuli.cloud.vo.SystemAnnouncementVO">
        SELECT
        a.message_content,
        a.title,
        a.create_time,
        a.message_link,
        au.user_id,
        au.announcement_id,
        au.read_flag
        FROM system_announcement AS a
        LEFT JOIN system_announcement_user AS au ON a.id = au.announcement_id
        WHERE au.user_id = #{userId}
        <if test="createTime != null">
            AND a.create_time BETWEEN #{startCreateTime} AND #{endCreateTime}
        </if>
        <if test="readFlag != null">
            AND au.read_flag=#{readFlag}
        </if>
        ORDER BY announcement_id DESC
    </select>
</mapper>