<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuli.cloud.mapper.SystemQuickModuleMapper">
    
    <!--根据用户id和企业id查询已添加的快捷功能权限id列表-->
    <select id="listAddByUserId" resultType="com.fuli.cloud.vo.menu.MenuButtonVO">
        SELECT
            <if test="type==1">
                m.id,
                m.module_id,
            </if>
            <if test="type==2">
                q.id,
                q.module_id,
            </if>
            q.module_id,
            m.`name` menuName,
            sm.module_name,
            m.label,
            m.icon,
            m.parent_id,
            q.sort
        FROM
            system_quick_module q
        INNER JOIN system_menu m ON q.module_id = m.id
        INNER JOIN system_module sm ON m.module_id = sm.id
        <if test="roles != null and roles.size() > 0">
            INNER JOIN system_role_menu rm ON rm.menu_id = m.id
        </if>
        WHERE
            m.type=0 AND m.`status`=1 AND q.user_id = #{userId}
        <if test="roles != null and roles.size() > 0">
            AND rm.role_id IN
            <foreach collection="roles" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            GROUP BY q.id
        </if>
        ORDER BY q.sort ASC
    </select>
    

    <!--批量更新-->
    <update id="updateBatch" parameterType="java.util.List">
        update system_quick_module
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="sort =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.sort!=null">
                        when id=#{i.id} then #{i.sort}
                    </if>
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach collection="list" index="index" item="i" separator="," open="(" close=")">
            #{i.id}
        </foreach>
    </update>


    <insert id="insertSystemQuickModule" parameterType="com.fuli.cloud.model.SystemQuickModuleDO">
        INSERT INTO `system_quick_module`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="moduleId != null">
                module_id,
            </if>
            `sort`,
            `create_time`
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="moduleId != null">
                #{moduleId},
            </if>
            (SELECT IFNULL(MAX(a.sort),0)+1 FROM system_quick_module a WHERE a.user_id = #{userId} ),
            NOW()
        </trim>
    </insert>


    <insert id="batchInsert" parameterType="com.fuli.cloud.model.SystemQuickModuleDO">
        INSERT INTO `system_quick_module`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_id,
            module_id,
            `sort`,
            `create_time`
        </trim>
        values
        <foreach collection="list" index="index" item="i" separator="," >
            (
                #{userId},
                #{i.moduleId},
                #{i.sort},
                NOW()
            )
        </foreach>
    </insert>


</mapper>